body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
}

a {
  all: unset;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: large;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

h1 {
  margin-right: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #f2f2f2;
  flex: 1;

}

section {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

div {
  width: 100%;
}

.minha-foto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.paleta1,
.paleta2,
.paleta3,
.paleta4 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  margin-right: 10px;
}

.paleta4 {
  margin-right: 0px;
}

.cor1-paleta1,
.cor2-paleta1,
.cor3-paleta1,
.cor4-paleta1,
.cor5-paleta1,
.cor1-paleta2,
.cor2-paleta2,
.cor3-paleta2,
.cor4-paleta2,
.cor5-paleta2,
.cor1-paleta3,
.cor2-paleta3,
.cor3-paleta3,
.cor4-paleta3,
.cor5-paleta3,
.cor1-paleta4,
.cor2-paleta4,
.cor3-paleta4,
.cor4-paleta4,
.cor5-paleta4 {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  justify-content: center;
  cursor: pointer;
  height: 20%;
  align-items: center;
  transition: transform 0.3s ease;
  flex: 1;
}

.paleta1 div:active {
  transform: scale(0.8);
}

.paleta2 div:active {
  transform: scale(0.8);
}

.paleta3 div:active {
  transform: scale(0.8);
}

.paleta4 div:active {
  transform: scale(0.8);
}



.cor1-paleta1 {
  background-color: hsl(var(--cor1-h, 0), var(--cor1-s, 0%), var(--cor1-l, 100%));
}

.cor2-paleta1 {
  background-color: hsl(var(--cor2-h, 0), var(--cor2-s, 0%), var(--cor2-l, 100%));
}

.cor3-paleta1 {
  background-color: hsl(var(--cor3-h, 0), var(--cor3-s, 0%), var(--cor3-l, 100%));
}

.cor4-paleta1 {
  background-color: hsl(var(--cor4-h, 0), var(--cor4-s, 0%), var(--cor4-l, 100%));
}

.cor5-paleta1 {
  background-color: hsl(var(--cor5-h, 0), var(--cor5-s, 0%), var(--cor5-l, 100%));
}

.cor1-paleta2 {
  background-color: hsl(var(--cor1-h, 0), var(--cor1-s, 0%), var(--cor1-l, 100%));
}

.cor2-paleta2 {
  background-color: hsl(var(--cor2-h, 0), var(--cor2-s, 0%), var(--cor2-l, 100%));
}

.cor3-paleta2 {
  background-color: hsl(var(--cor3-h, 0), var(--cor3-s, 0%), var(--cor3-l, 100%));
}

.cor4-paleta2 {
  background-color: hsl(var(--cor4-h, 0), var(--cor4-s, 0%), var(--cor4-l, 100%));
}

.cor5-paleta2 {
  background-color: hsl(var(--cor5-h, 0), var(--cor5-s, 0%), var(--cor5-l, 100%));
}

.cor1-paleta3 {
  background-color: hsl(var(--cor1-h, 0), var(--cor1-s, 0%), var(--cor1-l, 100%));
}

.cor2-paleta3 {
  background-color: hsl(var(--cor2-h, 0), var(--cor2-s, 0%), var(--cor2-l, 100%));
}

.cor3-paleta3 {
  background-color: hsl(var(--cor3-h, 0), var(--cor3-s, 0%), var(--cor3-l, 100%));
}

.cor4-paleta3 {
  background-color: hsl(var(--cor4-h, 0), var(--cor4-s, 0%), var(--cor4-l, 100%));
}

.cor5-paleta3 {
  background-color: hsl(var(--cor5-h, 0), var(--cor5-s, 0%), var(--cor5-l, 100%));
}

.cor1-paleta4 {
  background-color: hsl(var(--cor1-h, 0), var(--cor1-s, 0%), var(--cor1-l, 100%));
}

.cor2-paleta4 {
  background-color: hsl(var(--cor2-h, 0), var(--cor2-s, 0%), var(--cor2-l, 100%));
}

.cor3-paleta4 {
  background-color: hsl(var(--cor3-h, 0), var(--cor3-s, 0%), var(--cor3-l, 100%));
}

.cor4-paleta4 {
  background-color: hsl(var(--cor4-h, 0), var(--cor4-s, 0%), var(--cor4-l, 100%));
}

.cor5-paleta4 {
  background-color: hsl(var(--cor5-h, 0), var(--cor5-s, 0%), var(--cor5-l, 100%));
}